
.row,
.col {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
}
.col {
  flex-direction: column;
}
.fb-1-2 {
  flex-grow: 0;
  flex-basis: 50%;
}
.fb-1-3 {
  flex-grow: 0;
  flex-basis: 33.33%;
}
.fb-1-4 {
  flex-grow: 0;
  flex-basis: 25%;
}
.fb-1-5 {
  flex-grow: 0;
  flex-basis: 20%;
}
